$background: stickyImg hamburgerImg cerrarImg bordeMenu hero_btn sticky_green sticky_blue sticky_yellow;

@each $img in $background {
  .bg-#{$img} {
    background: url("../assets/#{$img}.svg") no-repeat;
    background-size: cover;
  }
}