$background: stickyImg hamburgerImg cerrarImg bordeMenu hero_btn sticky_green sticky_blue sticky_yellow browser1 browser2 btn_download;

@each $img in $background {
  .bg-#{$img} {
    background: url("../assets/#{$img}.svg") no-repeat;
    background-size: cover;
  }
  @each $modifier ,
  $breakpoint in $map-viewports {
    @if($modifier =='') {
      $modifier: '-xs';
    }

    @include create-mq($breakpoint, 'min') {
      .bg#{$modifier}-contain {
        background-size: contain !important;
      }
    }
  }
}
