$box-sizes:(
  '5' : 5px,
  '10': 10px,
  '20': 20px,
  '30': 30px,
  '35': 35px,
  '40': 40px,
  '50': 50px,
  '60': 60px,
  '70': 70px,
  '100': 100px
  );
@each $padding, $padding-code in $box-sizes {
  .p-#{$padding} {
    padding: $padding-code;
  }
  .p-x-#{$padding} {
    padding-left: $padding-code;
    padding-right: $padding-code;
  }
  .p-y-#{$padding} {
    padding-top: $padding-code;
    padding-bottom: $padding-code;
  }
}

@each $margin, $margin-code in $box-sizes{
  .m-#{$margin} {
    margin: $margin-code;
  }
  .m-x-#{$margin} {
    margin-left: $margin-code;
    margin-right: $margin-code;
  }
  .m-y-#{$margin} {
    margin-top: $margin-code;
    margin-bottom: $margin-code;
  }
}
@each $modifier ,
$breakpoint in $map-viewports {
    @if($modifier =='') {
        $modifier: '-xs';
    }

    @include create-mq($breakpoint, 'max') {
        .padding#{$modifier}-down {
            padding: 40px !important;
        }
    }

    @include create-mq($breakpoint, 'min') {
        .padding#{$modifier}-up {
            padding: 0 20px !important;
        }
    }
}
$positions: relative, absolute;

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}
$displays: block flex inline-block  none;

@each $display in $displays {
  .d-#{$display} {
    display: $display;
  }
}
$sizes: (
  '100': 100px,
  '188': 188px,
  '200': 200px,
  '271': 271px,
  '676': 676px
);
@each $size, $size-code in $sizes {
  .w-#{$size} {
    width: $size-code;
  }
  .h-#{$size} {
    height: $size-code;
  }
}