$viewport-sm: 390;
$viewport-md: 768;
$viewport-lg: 992;
$viewport-xl: 1440;
$flex__cols: 12;

$map-flex-props: (
    '': 0,
    '-sm': $viewport-sm,
    '-md': $viewport-md,
    '-lg': $viewport-lg,
    '-xl': $viewport-xl
);

@mixin create-col-classes($modifier, $flex-cols, $breakpoint) {
    @include create-mq($breakpoint, 'min') {
        &__col#{$modifier}-offset-0 {
            margin-left: 0;
        }

        @for $i from 1 through $flex-cols {
            &__col#{$modifier}-#{$i} {
                flex-basis: calc((100 / ($flex-cols / $i)) * 1%);
            }

            &__col#{$modifier}-offset-#{$i} {
                margin-left: calc((100 / ($flex-cols / $i)) * 1%);
            }
        }
    }
}

;

@each $modifier ,
$breakpoint in $map-flex-props {
    @if($modifier =='') {
        $modifier: '-xs';
    }

    @include create-mq($breakpoint, 'max') {
        .hidden#{$modifier}-down {
            display: none !important;
        }
    }

    @include create-mq($breakpoint, 'min') {
        .hidden#{$modifier}-up {
            display: none !important;
        }
    }
}

.container {
    max-width: $viewport-xl+px;
    margin: 0 auto;
    padding: 40px 20px;

    @each $modifier ,
    $breakpoint in $map-flex-props {
        @include create-col-classes($modifier, $flex__cols, $breakpoint);
    }
}