.footer_inner li{
    padding: 6px 0;
}
@media screen and (min-width: 997px){
    footer .container {
        display: flex;
    }
    .footer_inner{
        width: 25%;
        padding: 20px;
    }
    .footer_inner:nth-child(1){
        width: 50%;
    }
}