@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
:root {
  --gray: #D9D9D9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Indie Flower", cursive;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

@media screen and (min-width: 997px) {
  .textWithArrow_container {
    display: flex;
    align-items: center;
  }
  .line {
    max-width: 60px;
  }
}
nav {
  display: flex;
}
nav > ul {
  display: none;
}
nav > ul > a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 10px;
}

header .textWithArrow_container {
  display: none;
}

nav ul a .icon {
  margin: 15px 10px;
}

nav .line {
  order: 1;
}

.hamburger#open {
  background: url("../assets/botonCerrar.svg") no-repeat;
}

.hamburger#open + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 90%;
  top: 70px;
  left: 0;
  background-color: var(--gray);
  transform: translateX(5%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

@media screen and (min-width: 997px) {
  header {
    background: url(../assets/bordeMenu.svg) no-repeat bottom/contain;
    height: 126px;
  }
  header .textWithArrow_container {
    display: flex;
  }
  nav {
    position: relative;
  }
  .hamburger#open + ul,
  nav ul {
    align-items: center;
    box-shadow: unset;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    position: relative;
    top: 0;
    left: unset;
    width: unset;
    padding: unset;
  }
  .hamburger#open + ul span,
  nav ul span {
    position: absolute;
    left: 52%;
    bottom: -20%;
  }
  nav > ul > a {
    margin: 0 10px;
    position: relative;
    text-align: center;
    width: 100px;
    padding: unset;
  }
  nav > ul > a::after {
    content: "";
    background: url("../assets/separador_link.png") no-repeat;
    height: 32.5px;
    position: absolute;
    right: -14px;
    top: -3px;
    width: 8.6px;
  }
  nav > ul > a:last-of-type::after {
    background: none;
  }
  nav > ul > a::before {
    content: "";
    background-color: var(--gray);
    width: 100%;
    height: 18px;
    position: absolute;
    top: 3px;
    z-index: -1;
    left: 0;
  }
  .hamburger {
    display: none;
  }
  ul .textWithArrow_container.social .line {
    position: absolute;
    right: 15%;
    top: 65%;
  }
  .navArrow {
    position: absolute;
    top: 42%;
    left: -150px;
  }
  .navArrow span {
    top: 5px;
    position: relative;
    right: 5px;
  }
}
@media screen and (min-width: 997px) {
  section .container {
    display: flex;
  }
  section .container div {
    width: 50%;
  }
}
footer {
  background: url(../assets/separador_footer.svg) no-repeat top/contain;
}

.footer_bottom .container {
  padding: 10px;
}

.footer_inner li {
  padding: 6px 0;
}

.footer_inner h2 {
  color: #3E0EFF;
  font-size: 50px;
}

.footer_inner h3, .footer_inner a.email {
  font-size: 24px;
}

.footer_inner .icon {
  margin: 10px 10px 10px 0;
}

.footer_bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.developer_name {
  font-size: 19px;
}
.developer_name span {
  color: #EE0C0C;
}

@media screen and (min-width: 997px) {
  footer .container {
    display: flex;
  }
  .footer_inner {
    padding: 20px;
    width: 30%;
  }
  .footer_inner:nth-child(1) {
    padding-right: 10%;
    width: 40%;
  }
}/*# sourceMappingURL=index.css.map */