/*** Utilities ***/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400&display=swap");
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.hidden-xs-down {
  display: none !important;
}

.hidden-xs-up {
  display: none !important;
}

@media screen and (max-width: 390px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media screen and (min-width: 390px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .hidden-lg-down {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media screen and (max-width: 1440px) {
  .hidden-xl-down {
    display: none !important;
  }
}
@media screen and (min-width: 1440px) {
  .hidden-xl-up {
    display: none !important;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}
.container__col-offset-0 {
  margin-left: 0;
}
.container__col-1 {
  flex-basis: 8.3333333333%;
}
.container__col-offset-1 {
  margin-left: 8.3333333333%;
}
.container__col-2 {
  flex-basis: 16.6666666667%;
}
.container__col-offset-2 {
  margin-left: 16.6666666667%;
}
.container__col-3 {
  flex-basis: 25%;
}
.container__col-offset-3 {
  margin-left: 25%;
}
.container__col-4 {
  flex-basis: 33.3333333333%;
}
.container__col-offset-4 {
  margin-left: 33.3333333333%;
}
.container__col-5 {
  flex-basis: 41.6666666667%;
}
.container__col-offset-5 {
  margin-left: 41.6666666667%;
}
.container__col-6 {
  flex-basis: 50%;
}
.container__col-offset-6 {
  margin-left: 50%;
}
.container__col-7 {
  flex-basis: 58.3333333333%;
}
.container__col-offset-7 {
  margin-left: 58.3333333333%;
}
.container__col-8 {
  flex-basis: 66.6666666667%;
}
.container__col-offset-8 {
  margin-left: 66.6666666667%;
}
.container__col-9 {
  flex-basis: 75%;
}
.container__col-offset-9 {
  margin-left: 75%;
}
.container__col-10 {
  flex-basis: 83.3333333333%;
}
.container__col-offset-10 {
  margin-left: 83.3333333333%;
}
.container__col-11 {
  flex-basis: 91.6666666667%;
}
.container__col-offset-11 {
  margin-left: 91.6666666667%;
}
.container__col-12 {
  flex-basis: 100%;
}
.container__col-offset-12 {
  margin-left: 100%;
}
@media screen and (min-width: 390px) {
  .container__col-sm-offset-0 {
    margin-left: 0;
  }
  .container__col-sm-1 {
    flex-basis: 8.3333333333%;
  }
  .container__col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .container__col-sm-2 {
    flex-basis: 16.6666666667%;
  }
  .container__col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .container__col-sm-3 {
    flex-basis: 25%;
  }
  .container__col-sm-offset-3 {
    margin-left: 25%;
  }
  .container__col-sm-4 {
    flex-basis: 33.3333333333%;
  }
  .container__col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .container__col-sm-5 {
    flex-basis: 41.6666666667%;
  }
  .container__col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .container__col-sm-6 {
    flex-basis: 50%;
  }
  .container__col-sm-offset-6 {
    margin-left: 50%;
  }
  .container__col-sm-7 {
    flex-basis: 58.3333333333%;
  }
  .container__col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .container__col-sm-8 {
    flex-basis: 66.6666666667%;
  }
  .container__col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .container__col-sm-9 {
    flex-basis: 75%;
  }
  .container__col-sm-offset-9 {
    margin-left: 75%;
  }
  .container__col-sm-10 {
    flex-basis: 83.3333333333%;
  }
  .container__col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .container__col-sm-11 {
    flex-basis: 91.6666666667%;
  }
  .container__col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .container__col-sm-12 {
    flex-basis: 100%;
  }
  .container__col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container__col-md-offset-0 {
    margin-left: 0;
  }
  .container__col-md-1 {
    flex-basis: 8.3333333333%;
  }
  .container__col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .container__col-md-2 {
    flex-basis: 16.6666666667%;
  }
  .container__col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .container__col-md-3 {
    flex-basis: 25%;
  }
  .container__col-md-offset-3 {
    margin-left: 25%;
  }
  .container__col-md-4 {
    flex-basis: 33.3333333333%;
  }
  .container__col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .container__col-md-5 {
    flex-basis: 41.6666666667%;
  }
  .container__col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .container__col-md-6 {
    flex-basis: 50%;
  }
  .container__col-md-offset-6 {
    margin-left: 50%;
  }
  .container__col-md-7 {
    flex-basis: 58.3333333333%;
  }
  .container__col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .container__col-md-8 {
    flex-basis: 66.6666666667%;
  }
  .container__col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .container__col-md-9 {
    flex-basis: 75%;
  }
  .container__col-md-offset-9 {
    margin-left: 75%;
  }
  .container__col-md-10 {
    flex-basis: 83.3333333333%;
  }
  .container__col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .container__col-md-11 {
    flex-basis: 91.6666666667%;
  }
  .container__col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .container__col-md-12 {
    flex-basis: 100%;
  }
  .container__col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container__col-lg-offset-0 {
    margin-left: 0;
  }
  .container__col-lg-1 {
    flex-basis: 8.3333333333%;
  }
  .container__col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .container__col-lg-2 {
    flex-basis: 16.6666666667%;
  }
  .container__col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .container__col-lg-3 {
    flex-basis: 25%;
  }
  .container__col-lg-offset-3 {
    margin-left: 25%;
  }
  .container__col-lg-4 {
    flex-basis: 33.3333333333%;
  }
  .container__col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .container__col-lg-5 {
    flex-basis: 41.6666666667%;
  }
  .container__col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .container__col-lg-6 {
    flex-basis: 50%;
  }
  .container__col-lg-offset-6 {
    margin-left: 50%;
  }
  .container__col-lg-7 {
    flex-basis: 58.3333333333%;
  }
  .container__col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .container__col-lg-8 {
    flex-basis: 66.6666666667%;
  }
  .container__col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .container__col-lg-9 {
    flex-basis: 75%;
  }
  .container__col-lg-offset-9 {
    margin-left: 75%;
  }
  .container__col-lg-10 {
    flex-basis: 83.3333333333%;
  }
  .container__col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .container__col-lg-11 {
    flex-basis: 91.6666666667%;
  }
  .container__col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .container__col-lg-12 {
    flex-basis: 100%;
  }
  .container__col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .container__col-xl-offset-0 {
    margin-left: 0;
  }
  .container__col-xl-1 {
    flex-basis: 8.3333333333%;
  }
  .container__col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .container__col-xl-2 {
    flex-basis: 16.6666666667%;
  }
  .container__col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .container__col-xl-3 {
    flex-basis: 25%;
  }
  .container__col-xl-offset-3 {
    margin-left: 25%;
  }
  .container__col-xl-4 {
    flex-basis: 33.3333333333%;
  }
  .container__col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .container__col-xl-5 {
    flex-basis: 41.6666666667%;
  }
  .container__col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .container__col-xl-6 {
    flex-basis: 50%;
  }
  .container__col-xl-offset-6 {
    margin-left: 50%;
  }
  .container__col-xl-7 {
    flex-basis: 58.3333333333%;
  }
  .container__col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .container__col-xl-8 {
    flex-basis: 66.6666666667%;
  }
  .container__col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .container__col-xl-9 {
    flex-basis: 75%;
  }
  .container__col-xl-offset-9 {
    margin-left: 75%;
  }
  .container__col-xl-10 {
    flex-basis: 83.3333333333%;
  }
  .container__col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .container__col-xl-11 {
    flex-basis: 91.6666666667%;
  }
  .container__col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .container__col-xl-12 {
    flex-basis: 100%;
  }
  .container__col-xl-offset-12 {
    margin-left: 100%;
  }
}

/**** Colors *****/
.color-primary-black {
  color: #000;
}

.color-secondary-black {
  color: #14142B;
}

.color-black-aplha-6 {
  color: rgba(0, 0, 0, 0.6);
}

.color-blue {
  color: #3E0EFF;
}

.color-red {
  color: #EE0C0C;
}

.color-gray {
  color: #D9D9D9;
}

.font-size-h1 {
  font-size: 68px;
}

.font-size-h2 {
  font-size: 42px;
}

.font-size-h3 {
  font-size: 24px;
}

.font-size-paragraph {
  font-size: 18px;
}

body {
  font-family: "Indie Flower", cursive;
}

.font-size-h1 {
  font-size: 68px;
}

.font-size-h2 {
  font-size: 42px;
}

.font-size-h3 {
  font-size: 24px;
}

.font-size-paragraph {
  font-size: 18px;
}

body {
  font-family: "Indie Flower", cursive;
}

.bg-stickyImg {
  background: url("../assets/stickyImg.svg") no-repeat;
}

.bg-hamburgerImg {
  background: url("../assets/hamburgerImg.svg") no-repeat;
}

.bg-cerrarImg {
  background: url("../assets/cerrarImg.svg") no-repeat;
}

.bg-bordeMenu {
  background: url("../assets/bordeMenu.svg") no-repeat;
}

/*** Vendors ***/
.sticky {
  display: none;
}

@media screen and (min-width: 997px) {
  section .container .sticky {
    display: block;
    background-size: contain;
    height: 400px;
    width: 200px;
    right: 0;
    text-align: center;
  }
  section .container .sticky p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    transform: rotate(-2.516deg);
    margin-top: 40px;
  }
  section .container .sticky div {
    width: 50%;
  }
}
.button {
  border: none;
}

.hamburger {
  height: 35px;
  width: 35px;
}

.close {
  background: url("./../assets/cerrarImg.svg") no-repeat;
}

@media screen and (min-width: 997px) {
  .textWithArrow_container {
    display: flex;
    align-items: center;
  }
  .line {
    max-width: 60px;
  }
}
nav {
  display: flex;
}
nav > ul {
  display: none;
}
nav > ul > a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 10px;
}

header .textWithArrow_container {
  display: none;
}

nav ul a .icon {
  margin: 15px 10px;
}

nav .line {
  order: 1;
}

.hamburger#open {
  background: url("../assets/cerrarImg.svg") no-repeat;
}

.hamburger#open + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: 90%;
  top: 70px;
  left: 0;
  background-color: var(--gray);
  transform: translateX(5%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

@media screen and (min-width: 997px) {
  header {
    background: url(../assets/bordeMenu.svg) no-repeat bottom/contain;
  }
  header .textWithArrow_container {
    display: flex;
  }
  nav {
    position: relative;
  }
  .hamburger#open + ul,
  nav ul {
    align-items: center;
    box-shadow: unset;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    position: relative;
    top: 0;
    left: unset;
    width: unset;
    padding: unset;
  }
  .hamburger#open + ul span,
  nav ul span {
    position: absolute;
    left: 52%;
    bottom: -20%;
  }
  nav > ul > a {
    margin: 0 10px;
    position: relative;
    text-align: center;
    width: 100px;
    padding: unset;
  }
  nav > ul > a::after {
    content: "";
    background: url("../assets/separador_link.png") no-repeat;
    height: 32.5px;
    position: absolute;
    right: -14px;
    top: -3px;
    width: 8.6px;
  }
  nav > ul > a:last-of-type::after {
    background: none;
  }
  nav > ul > a::before {
    content: "";
    background-color: var(--gray);
    width: 100%;
    height: 18px;
    position: absolute;
    top: 3px;
    z-index: -1;
    left: 0;
  }
  .hamburger {
    display: none;
  }
  ul .textWithArrow_container.social .line {
    position: absolute;
    right: 15%;
    top: 65%;
  }
  .navArrow {
    position: absolute;
    top: 42%;
    left: -150px;
  }
  .navArrow span {
    top: 5px;
    position: relative;
    right: 5px;
  }
}
footer {
  background: url(../assets/separador_footer.svg) no-repeat top/contain;
}

.footer_bottom .container {
  padding: 10px;
}

.footer_inner li {
  padding: 6px 0;
}

.footer_inner h3, .footer_inner a.email {
  font-size: 24px;
}

.footer_inner .icon {
  margin: 10px 10px 10px 0;
}

.footer_bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.developer_name {
  font-size: 19px;
}

@media screen and (min-width: 997px) {
  footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer_inner:nth-child(1) {
    max-width: 380px;
  }
}/*# sourceMappingURL=index.css.map */