@import './Components/organisms/nav/nav';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
  --gray: #D9D9D9;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Indie Flower', cursive;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

